<nav class="bg-gray-100 w-36 min-h-screen fixed">
  <div class="flex flex-col justify-center gap-5">
    <div class="flex flex-col gap-1 px-4 py-3">
      <% if current_user.account_admin? %>
        <%= image_tag(@host.logo, class: 'w-10 h-10 object-cover') %>
      <% else %>
        <%= image_tag('logo.png', class: 'w-10 object-cover') %>
      <% end %>
    </div>
    <ul class="text-xs capitalize font-medium flex flex-col gap-3">
      <%= render 'home/sidebar/shared_links' %>
      <% if current_user.superadmin? %>
       <%= render 'home/sidebar/super_links' %>
      <% else %>
        <%= render 'home/sidebar/host_links' %>
      <% end %>
    </ul>
  </div>
</nav>


