<!DOCTYPE html>
<html>
  <head>
    <title>funtivities</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="discover fun activities near you" />
    <meta name="keywords" content="fun, activities, events, near me, things to do, funtivities, fun activities near me">
    <meta name="application-name" content="funtivities">
    <meta name="generator" content="funtivities">
    <meta name="rating" content="general">
    <meta name="subject" content="fun activities">
    <meta name="copyright" content="funtivities">
    <meta name="language" content="English">
    <meta name="designer" content="funtivities">
    <meta name="reply-to" content="[email protected]">
    <meta name="author" content="funtivities">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="revisit-after" content="7 days"></meta>
    <meta name="distribution" content="global"></meta>
    <meta name="rating" content="general"></meta>
    <meta name="referrer" content="no-referrer-when-downgrade"></meta>

    <meta property="og:title" content="funtivities">
    <meta property="og:description" content="">
    <meta property="og:url" content="https://www.funtivities.app">
    <meta property="og:image" content="https://res.cloudinary.com/dlahz5ciz/image/upload/v1711100265/funtivities_a5syyu.png">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="funtivities">
    <meta property="og:locale" content="en_US">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@funtivities">
    <meta name="twitter:creator" content="@funtivities">
    <meta name="twitter:title" content="funtivities">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="https://res.cloudinary.com/dlahz5ciz/image/upload/v1711100265/funtivities_a5syyu.png">

    <link rel="manifest" href="/manifest.json">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/bfa19ffe9b.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <div>
      <% if user_signed_in? %>
        <%= render "home/host_sidebar" %>
      <% end %>
    </div>

    <main class="relative">
      <% unless flash.empty? %>
        <div id="flash" class="text-white sm:pl-20 absolute top-0 right-40 z-50 w-[50%]shadow-lg rounded">
          <% flash.keys.each do |k| %>
            <div class="sm:px-20 px-3 py-6 flex justify-center items-center gap-4 border-l-4 text-sm relative <%= notification_class(k) %>">
              <div id="progress-bar" class="h-1 absolute top-0 left-0 <%= progress_bar_background(k) %>">
              </div>
              <i class="<%= notification_icon(k) %> text-xl"></i>
              <%= flash[k] %>
              <div class="cursor-pointer" onclick="document.getElementById('flash').classList.add('hidden')">
                <i class="fa-solid fa-square-xmark text-xl"></i>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <%= yield %>
    </main>

    <script>
      document.addEventListener("turbo:load", () => {
        const loadingBar = document.getElementById('loading-bar');
        const flash = document.getElementById('flash');
        const progressBar = document.getElementById('progress-bar');

        if (loadingBar){
          let loadingProgress = 0;
          const interval = setInterval(() => {
            loadingProgress += 5;
            loadingBar.style.width = `${loadingProgress}%`;

            if (loadingProgress >= 100) {
              clearInterval(interval);
            }
          }, 200);

          setTimeout(function() {
            document.querySelector('#splash_screen').classList.add('hidden');
            document.querySelector('#landing_page').classList.remove('hidden');
          }, 100);
        }

        let progress = 100;
        let intervalId;

        if (flash) {
          intervalId = setInterval(() => {
            progress -= 1;
            progressBar.style.width = `${progress}%`;

            if (progress <= 0) {
              clearInterval(intervalId);
              flash.classList.add('hidden');
            }
          }, 50);
        }

        function closeFlash() {
          const flash = document.getElementById('flash');
          if (flash) {
            clearInterval(intervalId);
            flash.classList.add('hidden');
          }
        }

        const passwordField = document.getElementById("password-field");
        const passwordConfirmationField = document.getElementById("password-confirmation-field");

        const hidePassword = document.getElementById("hide-password");
        const showPassword = document.getElementById("show-password");

        const hidePasswordConfirmation = document.getElementById("hide-password-confirmation");
        const showPasswordConfirmation = document.getElementById("show-password-confirmation");

        showPassword.addEventListener("click", () => {
          passwordField.type = "text";
          showPassword.style.display = "none";
            hidePassword.style.display = "block";
        });

        hidePassword.addEventListener("click", () => {
          passwordField.type = "password";
          showPassword.style.display = "block";
          hidePassword.style.display = "none";
        });

        showPasswordConfirmation.addEventListener("click", () => {
          passwordConfirmationField.type = "text";
          showPasswordConfirmation.style.display = "none";
          hidePasswordConfirmation.style.display = "block";
        });


      });
    </script>
  </body>
</html>
