<!DOCTYPE html>
<html>
  <head>
    <title>funtivities</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="discover fun activities near you" />
    <meta name="keywords" content="fun, activities, events, near me, things to do, funtivities, fun activities near me">
    <meta name="application-name" content="funtivities">
    <meta name="generator" content="funtivities">
    <meta name="rating" content="general">
    <meta name="subject" content="fun activities">
    <meta name="copyright" content="funtivities">
    <meta name="language" content="English">
    <meta name="designer" content="funtivities">
    <meta name="reply-to" content="[email protected]">
    <meta name="author" content="funtivities">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="revisit-after" content="7 days"></meta>
    <meta name="distribution" content="global"></meta>
    <meta name="rating" content="general"></meta>
    <meta name="referrer" content="no-referrer-when-downgrade"></meta>

    <meta property="og:title" content="funtivities">
    <meta property="og:description" content="">
    <meta property="og:url" content="https://www.funtivities.app">
    <meta property="og:image" content="https://res.cloudinary.com/dlahz5ciz/image/upload/v1711100265/funtivities_a5syyu.png">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="funtivities">
    <meta property="og:locale" content="en_US">
    <meta property="og:locale:alternate" content="en_GB">
    <meta property="og:locale:alternate" content="fr_FR">
    <meta property="og:locale:alternate" content="es_ES">
    <meta property="og:locale:alternate" content="de_DE">
    <meta property="og:locale:alternate" content="it_IT">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@funtivities">
    <meta name="twitter:creator" content="@funtivities">
    <meta name="twitter:title" content="funtivities">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="https://res.cloudinary.com/dlahz5ciz/image/upload/v1711100265/funtivities_a5syyu.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/bfa19ffe9b.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <main class="bg-gray-50">
      <%= yield %>
    </main>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
      const loadingBar = document.getElementById('loading-bar');
      let progress = 0;
      const interval = setInterval(() => {
        progress += 5;
        loadingBar.style.width = `${progress}%`;

        if (progress >= 100) {
          clearInterval(interval);
        }
      }, 200);

      setTimeout(function() {
        document.querySelector('#splash_screen').classList.add('hidden');
        document.querySelector('#landing_page').classList.remove('hidden');
      }, 2000);
    });
  </script>


  </body>
</html>
